<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  href="{%  static  'css/styles.css' %}">
    <title>TODO</title>
</head>
<body>
    <div class="header">
        <p>BFDjango TODO</p>
    </div>
    <div class="page">
           <div class="container">
               <div class="hero">
                     <h1 class="main-header">WELCOME TO TODO LIST</h1>
                     <a href="/todos" class="see-todo-list">Please tap here to see tasks</a>
               </div>
           </div>
    </div>
</body>
</html>