{% extends 'wrapper.html' %}

{% block content%}
    <div class="completed_todo">
         <div class="add-task">
            <a href="#">Add Task</a>
        </div>
        <div class="todo-logo">
            <h1>Completed tasks in "List 1"</h1>
        </div>
        <div class="task-labels">
            <p>Task</p>
            <p>Created</p>
            <p>Due on</p>
            <p>Owner</p>
            <p>Mark</p>
        </div>
        {% for comp_task in tasks %}
              <div class="tasks">
                <p>{{ comp_task.name }}</p>
                <p>{{ comp_task.created }}</p>
                <p>{{ comp_task.due }}</p>
                <p>{{ comp_task.owner }}</p>
                <p>{{ comp_task.mark }}</p>
              </div>
        {% endfor %}
        <div class="task-action">
            <a href="">View completed tasks</a>
            <a href="">Delete this list</a>
        </div>
    </div>
{% endblock %}